In [1]:
import numpy as np
import pandas as pd
import os
import sklearn
from sklearn.cross_validation import train_test_split

C:\Users\AkilP\Anaconda3\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
!curl -O http://files.grouplens.org/datasets/movielens/ml-100k.zip

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  7 4808k    7  367k    0     0   399k      0  0:00:12 --:--:--  0:00:12  399k
100 4808k  100 4808k    0     0  3238k      0  0:00:01  0:00:01 --:--:-- 3238k

In [3]:
unzip_folder='unzipped_files'
path_unzip = '/unzipped_files'
path_to_unzip= os.getcwd()+path_unzip
if not os.path.exists(path_to_unzip):
    os.makedirs(path_to_unzip)
    
import zipfile     
with zipfile.ZipFile('ml-100k.zip') as zip_ref:
        zip_ref.extractall(path_to_unzip)

In [4]:
path= os.getcwd()+'/unzipped_files/ml-100k/'

In [5]:
path

'C:\\Summer 2017/unzipped_files/ml-100k/'

In [6]:
names = ['user_id', 'item_id', 'rating', 'timestamp']

a=pd.read_csv(path+'u.data', sep='\t', names=names)

In [7]:
a.head()

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

In [9]:
b=range(0,24)

In [32]:
movies= pd.read_csv(path+'u.item',sep='|', encoding='latin1', names=b)
movies = movies.rename(columns={0: 'item_id', 1: 'movie_title'})
movies=movies[['item_id','movie_title']]

In [34]:

#replace movie_id with movie_title for legibility
ratings_df = pd.merge(a, movies, on='item_id')[['user_id', 'movie_title', 'item_id','rating']]

ratings_df.head()

   user_id   movie_title  item_id  rating
0      196  Kolya (1996)      242       3
1       63  Kolya (1996)      242       3
2      226  Kolya (1996)      242       5
3      154  Kolya (1996)      242       3
4      306  Kolya (1996)      242       5

In [40]:
ratings_df.to_csv('123.csv')

In [43]:
ratings_mtx_df = ratings_df.pivot_table(values='rating', index='user_id', columns='movie_title')  
ratings_mtx_df.fillna(0, inplace=True)

movie_index = ratings_mtx_df.columns

ratings_mtx_df.head()

movie_title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,2.0,5.0,0.0,0.0,3.0,4.0,0.0,0.0,...,0.0,0.0,0.0,5.0,3.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,2.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,...,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,4.0,0.0

In [42]:
movie_index

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
            1673, 1674, 1675, 1676, 1677, 1678, 1679, 1680, 1681, 1682],
           dtype='int64', name='item_id', length=1682)

In [45]:
corr_matrix = pd.DataFrame(np.corrcoef(ratings_mtx_df.T))

In [46]:
corr_matrix.head()

,0,1,2,3,4,5,6,7,8,9,...,1654,1655,1656,1657,1658,1659,1660,1661,1662,1663
0,1.000000,-0.005884,-0.004595,0.072113,0.171574,0.138981,-0.025561,0.007270,-0.006640,0.011552,...,-0.002963,-0.006937,-0.002963,-0.014489,0.095510,0.127067,0.011604,-0.006721,0.102622,-0.002963
1,-0.005884,1.000000,-0.006827,-0.014922,-0.005330,-0.015494,-0.007714,0.039863,-0.004723,-0.016332,...,0.150791,0.010627,-0.002108,0.045195,-0.002247,0.010526,-0.006079,0.075243,0.036506,-0.002108
2,-0.004595,-0.006827,1.000000,0.059246,-0.001097,0.052877,0.128745,0.078260,0.004667,0.015504,...,-0.010968,-0.002430,0.021658,0.155450,0.115195,0.039172,-0.005917,0.157268,0.016893,-0.010968
3,0.072113,-0.014922,0.059246,1.000000,-0.014343,0.066339,0.230274,0.298716,0.049985,0.339195,...,0.052798,-0.011624,-0.012541,0.290188,0.164959,0.079341,0.038111,0.013353,0.028600,0.074578
4,0.171574,-0.005330,-0.001097,-0.014343,1.000000,0.078770,-0.010333,-0.039939,0.029597,-0.021414,...,-0.006468,0.130047,-0.006468,-0.021873,0.006811,0.053843,0.063789,0.011076,0.127479,0.091915

In [54]:
favoured_movie_title = 'Terminator 2: Judgment Day (1991)'

favoured_movie_index = list(movie_index).index(favoured_movie_title)

P = corr_matrix[favoured_movie_index]


#only return those movies with a high correlation with Toy Story
list(movie_index[(P>0.4) &(P<1.0)])

['Aladdin (1992)',
 'Alien (1979)',
 'Aliens (1986)',
 'Apollo 13 (1995)',
 'Back to the Future (1985)',
 'Batman (1989)',
 'Batman Returns (1992)',
 'Blade Runner (1982)',
 'Blues Brothers, The (1980)',
 'Braveheart (1995)',
 'Clear and Present Danger (1994)',
 'Cliffhanger (1993)',
 'Conan the Barbarian (1981)',
 'Crimson Tide (1995)',
 'Crow, The (1994)',
 'Dances with Wolves (1990)',
 'Demolition Man (1993)',
 'Die Hard (1988)',
 'Die Hard 2 (1990)',
 'Die Hard: With a Vengeance (1995)',
 'E.T. the Extra-Terrestrial (1982)',
 'Empire Strikes Back, The (1980)',
 'Forrest Gump (1994)',
 'Fugitive, The (1993)',
 'Full Metal Jacket (1987)',
 'Get Shorty (1995)',
 'Glory (1989)',
 'GoldenEye (1995)',
 'GoodFellas (1990)',
 'Groundhog Day (1993)',
 'Highlander (1986)',
 'Hunt for Red October, The (1990)',
 'In the Line of Fire (1993)',
 'Indiana Jones and the Last Crusade (1989)',
 'Jaws (1975)',
 'Jurassic Park (1993)',
 'Lion King, The (1994)',
 'Monty Python and the Holy Grail (1974)',
 'Net, The (1995)',
 'Outbreak (1995)',
 'Princess Bride, The (1987)',
 'Professional, The (1994)',
 'Pulp Fiction (1994)',
 'Raiders of the Lost Ark (1981)',
 'Real Genius (1985)',
 'Seven (Se7en) (1995)',
 'Shawshank Redemption, The (1994)',
 'Silence of the Lambs, The (1991)',
 'Speed (1994)',
 'Star Trek III: The Search for Spock (1984)',
 'Star Trek IV: The Voyage Home (1986)',
 'Star Trek VI: The Undiscovered Country (1991)',
 'Star Trek: The Wrath of Khan (1982)',
 'Star Wars (1977)',
 'Stargate (1994)',
 'Terminator, The (1984)',
 'Top Gun (1986)',
 'True Lies (1994)',
 'Under Siege (1992)',
 'Unforgiven (1992)',
 'Usual Suspects, The (1995)',
 'Waterworld (1995)',
 'Young Guns (1988)']

In [55]:
def get_movie_similarity(movie_title):  
    '''Returns correlation vector for a movie'''
    movie_idx = list(movie_index).index(movie_title)
    return corr_matrix[movie_idx]

def get_movie_recommendations(user_movies):  
    '''given a set of movies, it returns all the movies sorted by their correlation with the user'''
    movie_similarities = np.zeros(corr_matrix.shape[0])
    for movie_id in user_movies:
        movie_similarities = movie_similarities + get_movie_similarity(movie_id)
    similarities_df = pd.DataFrame({
        'movie_title': movie_index,
        'sum_similarity': movie_similarities
        })
    similarities_df = similarities_df[~(similarities_df.movie_title.isin(user_movies))]
    similarities_df = similarities_df.sort_values(by=['sum_similarity'], ascending=False)
    return similarities_df

In [56]:
sample_user = 21  
ratings_df[ratings_df.user_id==sample_user].sort_values(by=['rating'], ascending=False)

,user_id,movie_title,item_id,rating
24310,21,Face/Off (1997),298,5
10318,21,"Nightmare on Elm Street, A (1984)",219,5
28597,21,"Close Shave, A (1995)",408,5
29939,21,"Godfather, The (1972)",127,5
66418,21,Carrie (1976),447,5
23978,21,"Abyss, The (1989)",164,5
32512,21,Twelve Monkeys (1995),7,5
87044,21,G.I. Jane (1997),326,5
33202,21,Pulp Fiction (1994),56,5
51916,21,Psycho (1960),185,5
18956,21,"Shining, The (1980)",200,5
93487,21,"Nosferatu (Nosferatu, eine Symphonie des Graue...",675,5
84885,21,Braindead (1992),853,5
94052,21,M (1931),656,5
65358,21,Dead Man Walking (1995),9,5
4863,21,"Silence of the Lambs, The (1991)",98,5
7288,21,Fargo (1996),100,5
6631,21,Evil Dead II (1987),201,5
97157,21,Bad Taste (1987),854,5
42884,21,Heavenly Creatures (1994),558,5
3832,21,Toy Story (1995),1,5
78848,21,Bride of Frankenstein (1935),671,5
4467,21,Jaws (1975),234,5
45694,21,"American Werewolf in London, An (1981)",436,4
87511,21,In the Company of Men (1997),262,4
70947,21,She's So Lovely (1997),875,4
87224,21,"Frighteners, The (1996)",123,4
88199,21,Freeway (1996),844,4
83510,21,Smilla's Sense of Snow (1997),244,4
67438,21,Natural Born Killers (1994),53,4
...,...,...,...,...
55078,21,Kull the Conqueror (1997),680,1
61121,21,Booty Call (1997),948,1
98092,21,Body Parts (1991),669,1
59739,21,Amityville: A New Generation (1993),439,1
93888,21,Heaven's Prisoners (1996),978,1
39811,21,Shadow Conspiracy (1997),984,1
68239,21,Maximum Risk (1996),982,1
68962,21,Amityville: Dollhouse (1996),858,1
83552,21,Screamers (1995),760,1
84268,21,Free Willy 3: The Rescue (1997),457,1
35975,21,"Addiction, The (1995)",767,1
86023,21,Congo (1995),769,1
33134,21,"Lawnmower Man, The (1992)",145,1
44160,21,Lawnmower Man 2: Beyond Cyberspace (1996),758,1
29491,21,Leave It to Beaver (1997),688,1
87829,21,Loch Ness (1995),839,1
75211,21,Children of the Corn: The Gathering (1996),424,1
27670,21,"Saint, The (1997)",748,1
88320,21,Hellraiser: Bloodline (1996),590,1
74714,21,Steel (1997),263,1
88600,21,Candyman: Farewell to the Flesh (1995),816,1
26378,21,Chain Reaction (1996),930,1
89322,21,"Beautician and the Beast, The (1997)",988,1
71943,21,Hoodlum (1997),299,1
71546,21,"Ghost and the Darkness, The (1996)",148,1
23013,21,Interview with the Vampire (1994),559,1
83695,21,All Dogs Go to Heaven 2 (1996),103,1
92483,21,Air Bud (1997),261,1
19555,21,"Devil's Own, The (1997)",245,1
57454,21,"Juror, The (1996)",717,1

In [58]:
sample_user_movies

['Kolya (1996)',
 'Star Trek: First Contact (1996)',
 'Twister (1996)',
 'Toy Story (1995)',
 'Jaws (1975)',
 'Silence of the Lambs, The (1991)',
 'Trigger Effect, The (1996)',
 'Tales from the Hood (1995)',
 'Cop Land (1997)',
 'Evil Dead II (1987)',
 'Fargo (1996)',
 'Murder at 1600 (1997)',
 'Scream (1996)',
 'Nightmare on Elm Street, A (1984)',
 "Mr. Holland's Opus (1995)",
 'Copycat (1995)',
 'Liar Liar (1997)',
 'Conspiracy Theory (1997)',
 'Shining, The (1980)',
 'Mimic (1997)',
 "Devil's Own, The (1997)",
 'Tales From the Crypt Presents: Demon Knight (1995)',
 'Heat (1995)',
 'Interview with the Vampire (1994)',
 "Dante's Peak (1997)",
 'Abyss, The (1989)',
 'River Wild, The (1994)',
 'Face/Off (1997)',
 'Birds, The (1963)',
 'Contact (1997)',
 'Chain Reaction (1996)',
 'Jaws 2 (1978)',
 'Saint, The (1997)',
 'Close Shave, A (1995)',
 'Leave It to Beaver (1997)',
 'Godfather, The (1972)',
 'Diabolique (1996)',
 'Primal Fear (1996)',
 'Twelve Monkeys (1995)',
 'Cape Fear (1991)',
 'Lawnmower Man, The (1992)',
 'Pulp Fiction (1994)',
 'Love Jones (1997)',
 'Fan, The (1996)',
 'Addiction, The (1995)',
 'Mother (1996)',
 'Shadow Conspiracy (1997)',
 'Volcano (1997)',
 'English Patient, The (1996)',
 'Heavenly Creatures (1994)',
 'Absolute Power (1997)',
 'Lawnmower Man 2: Beyond Cyberspace (1996)',
 'American Werewolf in London, An (1981)',
 'From Dusk Till Dawn (1996)',
 'Crash (1996)',
 "Bram Stoker's Dracula (1992)",
 'George of the Jungle (1997)',
 'Hunchback of Notre Dame, The (1996)',
 'Star Wars (1977)',
 'Evita (1996)',
 'Psycho (1960)',
 'Ransom (1996)',
 'Thinner (1996)',
 'Army of Darkness (1993)',
 'Picture Perfect (1997)',
 'Mary Reilly (1996)',
 'Kull the Conqueror (1997)',
 'Last Supper, The (1995)',
 'Omen, The (1976)',
 'Independence Day (ID4) (1996)',
 'In & Out (1997)',
 'Beavis and Butt-head Do America (1996)',
 'Island of Dr. Moreau, The (1996)',
 'Juror, The (1996)',
 'Rosewood (1997)',
 "Mary Shelley's Frankenstein (1994)",
 'Alien 3 (1992)',
 'Amityville: A New Generation (1993)',
 'Breakdown (1997)',
 'Booty Call (1997)',
 'Space Jam (1996)',
 'Prophecy, The (1995)',
 'Excess Baggage (1997)',
 'City Hall (1996)',
 'Amityville II: The Possession (1982)',
 'Lost Highway (1997)',
 'Bound (1996)',
 'Dead Man Walking (1995)',
 'Carrie (1976)',
 'Substitute, The (1996)',
 'Natural Born Killers (1994)',
 'Maximum Risk (1996)',
 'Amityville: Dollhouse (1996)',
 'Believers, The (1987)',
 'Eye for an Eye (1996)',
 'Extreme Measures (1996)',
 'Everyone Says I Love You (1996)',
 "She's So Lovely (1997)",
 'Ghost and the Darkness, The (1996)',
 'Kiss Me, Guido (1997)',
 'Hoodlum (1997)',
 'Body Snatchers (1993)',
 'Wolf (1994)',
 'Body Snatchers (1993)',
 'Steel (1997)',
 'Children of the Corn: The Gathering (1996)',
 'Air Force One (1997)',
 'Cat People (1982)',
 'Jungle2Jungle (1997)',
 'Serial Mom (1994)',
 'Bride of Frankenstein (1935)',
 'Mute Witness (1994)',
 "McHale's Navy (1997)",
 'Career Girls (1997)',
 "Young Poisoner's Handbook, The (1995)",
 "Smilla's Sense of Snow (1997)",
 'Screamers (1995)',
 'All Dogs Go to Heaven 2 (1996)',
 'Amityville Horror, The (1979)',
 'James and the Giant Peach (1996)',
 'Mother Night (1996)',
 'Free Willy 3: The Rescue (1997)',
 "Rich Man's Wife, The (1996)",
 'Braindead (1992)',
 'Fear (1996)',
 'Event Horizon (1997)',
 'Anna Karenina (1997)',
 'Paradise Lost: The Child Murders at Robin Hood Hills (1996)',
 'Congo (1995)',
 'Tales from the Crypt Presents: Bordello of Blood (1996)',
 'G.I. Jane (1997)',
 'Frighteners, The (1996)',
 'Sleepers (1996)',
 'In the Company of Men (1997)',
 'Loch Ness (1995)',
 'Jaws 3-D (1983)',
 'Freeway (1996)',
 'Hellraiser: Bloodline (1996)',
 "Wes Craven's New Nightmare (1994)",
 'Candyman: Farewell to the Flesh (1995)',
 'Candyman (1992)',
 "April Fool's Day (1986)",
 'Beautician and the Beast, The (1997)',
 '187 (1997)',
 'Hercules (1997)',
 'Money Talks (1997)',
 'Unforgettable (1996)',
 'Craft, The (1996)',
 'That Darn Cat! (1997)',
 'Air Bud (1997)',
 'Body Snatcher, The (1945)',
 'Fog, The (1980)',
 'Spawn (1997)',
 'Nosferatu (Nosferatu, eine Symphonie des Grauens) (1922)',
 'Keys to Tulsa (1997)',
 'Solo (1996)',
 "Heaven's Prisoners (1996)",
 'Blob, The (1958)',
 'M (1931)',
 "Stephen King's The Langoliers (1995)",
 'Lord of Illusions (1995)',
 'Turbulence (1997)',
 'Head Above Water (1996)',
 'Howling, The (1981)',
 "Amityville 1992: It's About Time (1992)",
 'Bad Taste (1987)',
 'Halloween: The Curse of Michael Myers (1995)',
 'In the Mouth of Madness (1995)',
 "Cats Don't Dance (1997)",
 'Village of the Damned (1995)',
 'Blood & Wine (1997)',
 'Body Parts (1991)',
 'Last Time I Committed Suicide, The (1997)',
 'Bad Moon (1996)',
 'Blood Beach (1981)',
 'Frisk (1995)',
 'Dangerous Ground (1997)',
 'Amityville 3-D (1983)',
 'Underworld (1997)']

In [57]:
sample_user_movies = ratings_df[ratings_df.user_id==sample_user].movie_title.tolist()  
recommendations = get_movie_recommendations(sample_user_movies)

#We get the top 20 recommended movies
recommendations.movie_title.head(20)

415                     Die Hard 2 (1990)
235                   Broken Arrow (1996)
416     Die Hard: With a Vengeance (1995)
1113                      Outbreak (1995)
1301                 Seven (Se7en) (1995)
1371                       Species (1995)
1533                     True Lies (1994)
355                      Crow, The (1994)
945                  Mars Attacks! (1996)
463                         Eraser (1996)
132                         Batman (1989)
519             Fifth Element, The (1997)
315                    Cliffhanger (1993)
134                 Batman Returns (1992)
524                      Firm, The (1993)
402                 Demolition Man (1993)
44                          Aliens (1986)
465           Escape from New York (1981)
464               Escape from L.A. (1996)
478             Executive Decision (1996)
Name: movie_title, dtype: object